
.red      { color:red; }
.green	  { color: green;}
.quest	  { color: #6ab0de;}

.agent-conn {color: #6c8ebf; font-weight: bold;}
.fdb-conn {color: #9673a6; font-weight: bold;}
.fdbc-conn {color: #d79b00; font-weight: bold;}
.flp 	{font-variant: small-caps;}

.code 	  {font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	   white-space: pre; font-weight:normal; background-color: rgba(27,31,35,0.05); border-radius: 3px;
	   padding: 0.2em 0.4em;font-size: 85%}
.opt 	  {font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	   white-space: pre; color: #666666;font-size: 85%}	   

.highlight {background: #fafafa}

.rst-content tt, .rst-content code {font-size: 85%; border: none}
